body {
    margin: 0;
    background: #3CA55C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Poppins', sans-serif;
}

/* Form & Input */
form {
    margin: 50px auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    background-color: #dad7cd;
    border-radius: 30px;
}

.input {
    display: inline-block;
    width:200px;
    padding:20px;
}

#submit {
    background-color: #588157;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.25s ease;
}

#submit:hover {
    transform: scale(1.1);
}

/* Table */
table {
    border-collapse: collapse;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    background-color: white;
}

.header {
    background: rgb(152, 208, 188);
}

@media screen and (max-width: 500px) {
    form {
        width: 80%;
    }
}